body, main {
	display: flex;
}

body {
	flex-direction:  column;
	font-family: 'Roboto', sans-serif;
}

main {
	flex-direction:  row;
	flex: auto;
}

article {
	flex: 2;
	overflow-y: auto;
}

aside {
	flex: 1;
	overflow-y: auto;
}

.index_sgl_img {
	width: 75%;
	margin: auto;
}

header {
	background-color: #4473c4;
}

header a {
	color: #ccdbf0;
}

main {
	background-color: #555555;
	color:  #EEEEEE;
}
