/*HOLBERTON'S SPECIFIC REQUESTS*/
body, main {
	display: flex;
}

body {
	flex-direction:  column;
}

main {
	flex-direction:  row;
	flex: auto;
}

article {
	flex: 2;
	overflow-y: auto;
}

aside {
	flex: 1;
	overflow-y: auto;
}

/*MY ADDITIONS*/
html, body, h1, h2, h3, h4, h5, h6, header {
	font-family: 'Georama', sans-serif;
}

p {
	font-weight: 400;
	font-family: 'Lato', sans-serif;
}

.index_sgl_img {
	width: 75%;
	margin: auto;
}

header {
	background-color: #4473c4;
}

header ul {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

header a {
	color: #ccdbf0;
	font-size: 24px;
}

header a:hover {
	color: #99ffaa;
}

header a.active_page {
	font-weight: 700;
}

header a.active_page:hover {
	color: #ccdbf0;
}

header.logo {
	/*color: rgb(180, 188, 193) !important;*/
}

main {
	background-color: #555555;
	color:  #EEEEEE;
}

main a {
	color: #99aaff;
	text-decoration: none;
}

main a:visited {
	color: #99aaff;
}

main a:hover {
	color: #99ffaa;
}

h1 {
	font-weight: 700;
}

h2 {
	font-weight: 500;
}


h3 {
	font-weight: 200;
}

.p_bold_italic {
	font-weight: 600;
	font-style: italic;
}

.p_bold {
	font-weight: 600;
}

.ad_wrapper {
	width: 67%;
	margin: auto;
	color: #ffffaa;
	border: solid #EEEEEE 1px;
}

.ad_wrapper p, img {
	padding:  3px;
	width: 98%;
	margin: auto;
}
